{% extends "admin.html" %} 
{% block title %} Home {% endblock %}
{% block container %}
<div class="container marketing">
   <div id="Top_Page"></div> <!-- Required -->
   <!-- Generate express form
   ================================================== -->
   <form action="">
      <table class="table table-bordered">
      <!-- Table title
      ================================================== -->
      <thead>
       <tr>
         <th>No.</th>
         <th>Tracking ID</th>
         <th>Express Company</th>
         <th>Express Number</th>
         <th>Sender</th>
         <th>Sender Phone</th>
         <th>Sender Company</th>
         <th>Sender Address</th>
         <th>Sender City</th>
         <th>Sender State</th>
         <th>Sender Country</th>
         <th>Sender Zip/Code</th>
         <th>Receiver</th>
         <th>Receiver Phone</th>
         <th>Receiver Company</th>
         <th>Receiver Address</th>
         <th>Receiver City</th>
         <th>Receiver State</th>
         <th>Receiver Country</th>
         <th>Receiver Zip/Code</th>
         <th>Total packages</th>
         <th>Total Weight(KG)</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
       </tr>
      </thead>

      <!-- Table content
      ================================================== -->
      <tbody>
         



      </tbody>
      </table>
   </form>
<!-- end of Container
================================================== -->
</div>
{% endblock %}



