{% extends "application.html" %} 
{% block title %} Home {% endblock %}
{% block container %}
<div class="container marketing">
    <div id="Top_Page"></div>

    <div class="row-fluid">
        <!-- Left Top Marketing messaging Container
        ================================================== -->
        <div class="span8">
	        <div class="myborder">
                <!-- Track your items
                ================================================== -->
	        	<p><a href="index">Home</a> > Track your item</p>
	        	<hr>
	        	<h1>Track your item</h1>
                <div class="errors">
                    <ul><li>Please enter a tracking ID</li></ul>
                </div>
	        	<p>Please enter your tracking number without any spaces or dashes.</p>
	        	<form>
	        	<textarea rows="4" class="field span6" id="trackingId" placeholder="Tracking number..."></textarea>
	        	<p>
				  <button class="btn btn-danger" type="button" id="searchID">Search</button>
				</p>
				</form>
	        	<!-- <input id="hide" type="button" value="Hide" />    -->
				<!-- <input id="show" type="button" value="Show" /> -->
			</div>
        </div>
  <!-- {{trackid}} -->
        <!-- End of Left Container
        ================================================== -->


        <!-- Right Container
        ================================================== -->
        <div class="span3">
            <div class="well sidebar-nav">  
                <div id="myTab">
                    <div>
                        <h4><i class="icon-screenshot"></i> Track your item</h4>
                        <hr class="bs-docs-separator">
                    </div>


                    <div>
                        <a href="upload">
                        <h4><i class="icon-picture"></i> Upload photos</h4>
                        </a><hr>
                    </div>

                    <div>
                        <a href="branches">
                        <h4><i class="icon-globe"></i> Find our subbranchs</h4>
                        </a>
                    </div>
                </div>
	        </div>
        </div>
        <!-- End of Right Container
        ================================================== -->
    </div><!--End of row-fluid-->

</div><!-- /.container -->
{% endblock %}
