{% extends "application.html" %} 
{% block title %} Home {% endblock %}

{% block container %}

<div class="container">
  <div class="container-fluid">
      <div class="row-fluid">
          <!--Body content-->
          <div class="span9">
              <div class="hero-unit">
                  <h1>Phoenix International Cargo</h1>
                  <p>Speed, Efficient, Convenient</p>
                  <p>
                  <a class="btn btn-primary btn-large">
                      Learn more
                  </a>
                  </p>
              </div>
          </div>
          <!--End of Body content-->


          <!--Sidebar content-->
          <div class="span3">
              <!--<div class="well sidebar-nav">-->
                  <form class="navbar-form pull-left">
                      <h4><i class="icon-screenshot"></i> Track your item </h4>
                      <div class="input-append">
                          <input class="span9" id="appendedInputButton" type="text" placeholder="Tracking number...">
                          <button class="btn" type="button">Go</button>
                      </div>
                    </form>
                <!--<ul class="nav nav-list">-->
                    <!--<li class="nav-header"></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li class="nav-header">Sidebar</li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li class="nav-header">Sidebar</li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
                    <!--<li ><a href="#">Link</a></li>-->
              <!--</ul>-->
            </div><!--/.well -->
          </div><!--/span-->
          <!--End of Sidebar content-->
      </div>
  </div>
</div> <!-- /container -->
{% endblock %}
