{% extends "application.html" %} 
{% block title %} Home {% endblock %}
{% block container %}
<div class="container marketing">
    <div id="Top_Page"></div>

    <div class="row-fluid">
        <!-- Left Top Marketing messaging Container
        ================================================== -->
        <div class="span8">
	        <div class="myborder">
                <!-- Upload Photos
                ================================================== -->
                <p><a href="index">Home</a> > Upload Photos</p>
                <hr>
                <h1>Upload Photots</h1>
                <h4>Dear Customer:</h4>
                <p>Please fill in the following information and remains consistent with the identity photo you upload.</p>
                <form method="post" action="home/upload" enctype="multipart/form-data">
                    <table>
                        <tr> <td>Tracking ID: </td> <td><input type="text"></td> </tr>
                        <tr> <td>Name: </td> <td><input type="text"></td> </tr>
                        <tr> <td>Identity Card Number: </td> <td><input type="text"></td> </tr>
                        <tr> <td> <p><span>Front side: </span></td> 
                        <td> <input type="file" name="file1" /></p> </td>
                        </tr>
                        <tr>
                        <td> <p><span>Back side: </span></td>
                        <td><input type="file" name="file2" /></p></td>
                        </tr>
                        <tr>
                        <td> <button type="submit" class="btn btn-danger"> 
                        <i class="icon-plus"></i> Upload </button>
                        </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- End of Left Container
        ================================================== -->


        <!-- Right Container
        ================================================== -->
        <div class="span3">
            <div class="well sidebar-nav">  
                <div>
                    <a href="track">
                    <h4><i class="icon-screenshot"></i> Track your item</h4>
                    </a>
                    <hr class="bs-docs-separator">
                </div>

                <div>
                    <h4><i class="icon-picture"></i> Upload photos</h4>
                    <hr>
                </div>

                <div>
                    <a href="branches">
                    <h4><i class="icon-globe"></i> Find our sub_branchs</h4>
                    </a>
                </div>
	        </div>
        </div>
        <!-- End of Right Container
        ================================================== -->

    </div><!--End of row-fluid-->
</div><!-- /.container -->
{% endblock %}
